
    <!DOCTYPE html>
    <html>
    <head>
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="login_body">
        <div class="container" style="width: 400px;">
            <h1>Login to MetaTrader5</h1>
            <form method="post" id="loginForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_sl_point">Login:</label>
                    {{ form.master_login }}
                </div>
                <div class="form-group">
                    <label for="id_tp_point">Password:</label>
                    {{ form.master_password }}
                </div>
                <!-- <div class="form-group">
                    <label for="id_lot_size">Server:</label>
                    {{ form.server }}
                </div> -->

                <button type="submit">Login</button>
                <button type="submit" onclick="loginAsAdmin()">Go To servers</button>
            </form>
            

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
        </div>
        <script>
            function loginAsAdmin() {
                const form = document.getElementById('loginForm');
                form.action = "{% url 'verify_pin' %}";
                // form.target = "_blank";
                form.submit();
            }
        </script>
    </body>
    </html>
